<header class="header">
  <p class="site-title-sub">より良い多世代・多国籍交流の場を目指して</p>
  <h1 class="site-title">Next Stage</h1>
  <p class="site-description">
    Let’s create next face to face recreation aiming lifelong connection.<br>
    楽しいオフ、一緒に創りましょう！
  </p>
  <div class="buttons">
    <a class="button" href="#about">LEARN MORE</a>
    <a class="button button-showy" href="#contact">SEND MESSAGE</a>
  </div>
</header>
<section class="about" id="about">
  <h2 class="heading">ABOUT ME</h2>
  <p class="about-text">
    Next Stageは、ライフステージが変わっても未知の人々と交流し、<br>
    世界中の異なる価値観を学び続けられる『場』を提供するグループです。
  </p>
  <p class="about-text">
    Next Stage is an open social group that provides a chance to meet new people<br>
    and learn many different things from the world through good experiences while making lifelong connections.
  </p>
</section>
<section class="works">
  <h2 class="heading">CONTENTS</h2>
  <div class="works-wrapper">
    <div class="work-box tree">
      <img class="work-image" src="images/tree.jpg" alt="制作事例1">
      <div class="work-description">
        <div class="work-description-inner">
          <p class="work-text">
            Small Talk<br>
            参加者が伝えたい/気になっているコトを<br>
            シェアする会です<br>
            <a href="#" class="button button-ghost">READ MORE</a>
          </p>
        </div>
      </div>
    </div>
    <div class="work-box building">
      <img class="work-image" src="images/building.jpg" alt="制作事例2">
      <div class="work-description">
        <div class="work-description-inner">
          <p class="work-text">
            走RUN会<br>
            駅伝大会に出たり、皇居ランなど<br>
            ランニングします。<br>
            <a href="#" class="button button-ghost">READ MORE</a>
          </p>
        </div>
      </div>
    </div>
    <div class="work-box lake">
      <img class="work-image" src="images/lake.jpg" alt="制作事例3">
      <div class="work-description">
        <div class="work-description-inner">
          <p class="work-text">
            泳GO会<br>
            水泳大会に出たり、<br>
            プールに練習に行きます。<br>
            <a href="#" class="button button-ghost">READ MORE</a>
          </p>
        </div>
      </div>
    </div>
    <div class="work-box sky">
      <img class="work-image" src="images/sky.jpg" alt="制作事例4">
      <div class="work-description">
        <div class="work-description-inner">
          <p class="work-text">
            ボードゲーム会<br>
            経験の有無を問わず、<br>
            ボードゲームで交流します<br>
            <a href="#" class="button button-ghost">READ MORE</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="skills">
  <h2 class="heading">WHAT WE DO</h2>
  <div class="skills-wrapper">
    <div class="skill-box">
      <i class="skill-icon fa fa-lightbulb-o"></i>
      <div class="skill-title">Organize</div>
      <p class="skill-text">
        「食べる・動く・知る」に主眼を置いたレクリエーション開催。
      </p>
    </div>
    <div class="skill-box">
      <i class="skill-icon fa fa-paint-brush"></i>
      <div class="skill-title">Support</div>
      <p class="skill-text">
        会の開催サポート。
      </p>
    </div>
    <div class="skill-box">
      <i class="skill-icon fa fa-code"></i>
      <div class="skill-title">Participate</div>
      <p class="skill-text">
        他の会への参加。
      </p>
    </div>
  </div>
</section>
<section class="contact" id="contact">
  <h2 class="heading">LOG IN</h2>
  <form class="contact-form">
    <input type="text" name="name" placeholder="NAME">
    <textarea name="message" placeholder="MESSAGE"></textarea>
    <input type="submit" value="SEND">
  </form>
</section>
<footer class="footer">
  Copyright © 2009 - 2019 Next Stage All Rights Reserved.
</footer>
<script src="lib/placeholders.min.js"></script>
